@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

span {
  padding: 5px 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  font-weight: normal;
}

.menu-item a {
  font-family: "SatoshiVariable", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

span,
label,
div,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ClashDisplay-Regular", Arial, Helvetica, sans-serif;
}