.header-promo {
  background: #5E6821;
  padding: 8px 0;
}
.header-promo a {
  color: white;
  font-weight: 500;
  font-size: 22;
}

.header {
  height: 90px;
  align-items: center;
  margin-bottom: 20px;
}
.header .hamburger {
  display: none;
}
@media screen and (max-width: 900px) {
  .header .hamburger {
    display: block;
    width: 50px;
  }
}
.header .profile-section,
.header .menu-header-menu-container {
  flex-basis: 33.3%;
}
@media screen and (max-width: 900px) {
  .header .profile-section .hamburger,
  .header .menu-header-menu-container .hamburger {
    width: 50px;
  }
  .header .profile-section #menu-header-menu,
  .header .menu-header-menu-container #menu-header-menu {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .header .profile-section .favorite,
  .header .profile-section .search-field {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .elementor-widget-container {
    border: none !important;
  }
}
header .container {
  border-bottom: 2px solid #5E6821;
  margin-bottom: 40px;
}

.logo-section img {
  max-width: 150px;
  height: 100%;
}

.vertical-nav li {
  margin-bottom: 20px;
}
.vertical-nav li:last-child {
  margin-bottom: 0;
}
.vertical-nav li a:hover {
  opacity: 50%;
}

.vertical-nav-item li {
  font-size: 38px;
  margin-bottom: 20px;
}
.vertical-nav-item li:last-child {
  margin-bottom: 0;
}
.vertical-nav-item li a:hover {
  opacity: 50%;
}

.nav-img > ::after {
  content: url("../../img/svg/dropdown-icons/ref-icon.svg");
  margin: 15px 0 0 10px;
  width: 15px;
  height: 30px;
}

.top-slider {
  background: url("../../img/banners/top-banner.png");
  flex-basis: 70%;
  background-size: cover;
  min-height: 580px;
  align-items: flex-end;
}
.top-slider .slider-content {
  z-index: 2;
  max-width: 500px;
  padding: 20px;
}

.top-section {
  padding-bottom: 40px;
  border-bottom: 2px solid #5E6821;
  margin-bottom: 100px;
}

.popular-products {
  padding-bottom: 150px;
}
.popular-products .block-heading {
  margin-bottom: 40px;
}
.popular-products .products-carousel {
  margin-bottom: 100px;
}
.popular-products .products-carousel .product-name a {
  color: black;
}

.galery-photos img {
  max-width: 100%;
}
.galery-photos img:hover {
  filter: grayscale(0.75);
}

.instagram-galery {
  padding-bottom: 60px;
  border-bottom: 2px solid #5E6821;
}

.product-size-banners {
  margin-bottom: 100px;
}
.product-size-banners .size-banner {
  position: relative;
}
.product-size-banners .size-banner img {
  max-height: 500px;
  width: 100%;
}
.product-size-banners .size-banner .banner-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.exotic-products {
  margin-bottom: 160px;
}
.exotic-products .block-heading {
  margin-bottom: 40px;
}

.our-articles {
  margin-bottom: 100px;
}
.our-articles .block-title {
  padding-bottom: 40px;
  border-bottom: 2px solid #5E6821;
}

.social-icons {
  padding: auto;
  gap: 10px;
  display: inline-block;
  text-align: center;
  height: 38px;
  width: 38px;
  border: 2px solid #5E6821;
  color: #5E6821;
  border-radius: 100%;
  margin-left: 10px;
}
.social-icons:first-child {
  margin-left: 0px;
}

footer .logo-section {
  margin-bottom: 40px;
}
footer .top-footer {
  padding: 60px 0;
  border-bottom: 2px solid #5E6821;
}
footer .bottom-footer {
  height: 100px;
}
footer .subscribe-block {
  max-width: 100%;
  margin-bottom: 60px;
}
footer .subscribe-block label {
  font-size: 24px;
}
footer .subscribe-block input:not([class=button]) {
  width: 70%;
}
footer .subscribe-block input:not([class=button])::-moz-placeholder {
  padding-left: 10px;
}
footer .subscribe-block input:not([class=button])::placeholder {
  padding-left: 10px;
}
footer .social-icons {
  padding: auto;
  display: inline-block;
  text-align: center;
  height: 38px;
  width: 38px;
  border: 2px solid #5E6821;
  color: #5E6821;
  border-radius: 100%;
  margin-left: 10px;
}
footer .social-icons:first-child {
  margin-left: 0px;
}
footer .left-side {
  max-width: 60%;
}
footer .right-side {
  border-left: 2px solid #5E6821;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  footer .right-side {
    border-left: none;
    margin-top: 40px;
    justify-content: space-evenly;
  }
}
footer .right-side .nav-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 30px;
}
footer .right-side .nav-items li {
  margin-bottom: 20px;
}

footer .menu-item {
  margin-bottom: 15px;
}

.button {
  padding: 10px 18px;
  background: #5e6821;
  border: none;
  color: white;
  display: inline-block;
}

.continue-button a {
  white-space: nowrap;
  width: 100%;
  display: block;
  border: 2px solid #5e6821;
  color: #5e6821;
  background: #ffffff;
  padding: 15px;
}

.quotes {
  flex-basis: 40%;
  background: #E7E5D9;
  padding: 40px;
}
.quotes .quote-text p {
  font-size: 38px;
}

.promo-video {
  margin-bottom: 100px;
  background: linear-gradient(to bottom, #5e6821 70%, white 70% 60%);
}

.promo-video .block-title {
  color: white;
}
.promo-video .block-title img {
  display: inline;
  vertical-align: middle;
}
.promo-video .block-title h1 {
  width: 70%;
  padding: 40px 0;
}

.video {
  flex-basis: 60%;
  background: #000;
}

.quote-text {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 2px solid #5E6821;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.nav-links a {
  color: #34381d;
  font-weight: 700;
}
.nav-links a:hover {
  color: #5E6821;
}
.nav-links span .page-numbers {
  padding: 0;
}