.woocommerce-loop-product__title {
  font-size: 18px;
  margin-bottom: 0;
  color: black;
}
.woocommerce-loop-product__title:hover {
  color: gray;
}

.products {
  align-items: baseline;
}

.product {
  margin-bottom: 30px;
}
.product .woocommerce-loop-product__title {
  margin: 0 auto;
}
.product del .woocommerce-Price-amount {
  text-decoration: line-through;
  color: gray;
  font-weight: 500;
  font-size: 14px;
}
.product .woocommerce-loop-product__title,
.product .price {
  display: block;
  text-align: center;
}
.product .attachment-woocommerce_thumbnail {
  margin-bottom: 10px;
}

.product-card {
  position: relative;
}
.product-card .onsale {
  padding: 5px;
  background: white;
  font-weight: 700;
  color: black;
  position: absolute;
  top: 20px;
  left: 0;
}

.woocommerce-ordering {
  margin-bottom: 20px;
}

.page-numbers {
  display: flex;
  gap: 20px;
  color: black;
  justify-content: center;
}

.flex-control-thumbs {
  display: flex;
  justify-content: space-between;
}

.woocommerce-product-gallery {
  width: 50%;
}

.single-product .single-product {
  display: flex;
}

.woocommerce-LoopProduct-link .woocommerce-loop-product__link img {
  width: 700px;
  height: 800px;
}