.woocommerce-loop-product__title {
  font-size: 18px;
  margin-bottom: 0;
  color: black;

  &:hover {
    color: gray;
  }
}

.products {
  align-items: baseline;
}

.product {
  margin-bottom: 30px;

  .woocommerce-loop-product__title {
    margin: 0 auto;
  }

  del .woocommerce-Price-amount {
    text-decoration: line-through;
    color: gray;
    font-weight: 500;
    font-size: 14px;
  }

  .woocommerce-loop-product__title,
  .price {
    display: block;
  }

  .attachment-woocommerce_thumbnail {
    margin-bottom: 10px;
  }
}

.product-card {
  position: relative;

  .onsale {
    padding: 5px;
    background: white;
    font-weight: 700;
    color: black;
    position: absolute;
    top: 20px;
    left: 0;
  }
}

.woocommerce-ordering {
  margin-bottom: 20px;
}


.page-numbers {
  display: flex;
  gap: 20px;
  color: black;
  justify-content: center;
}

// single product

.flex-control-thumbs {
  display: flex;
  justify-content: space-between;
}


.tabs.wc-tabs {
  &::before {
    content: "";
    clear: both;
    display: table;
  }

  padding: 20px 0;
  display: flex;
  justify-content: center;
  border-top: 2px solid #5e6821;
  border-bottom: 2px solid #5e6821;
  height: 100%;

  > :not(:last-child)::after {
    content: "";
    background-color: #5e6821;
    padding-left: 2px;
    margin-right: 10px;
    margin-left: 10px;
  }

  a {
    color: black;
    font-weight: 700;

    &:hover {
      color: #373b18;
    }
  }
}

.woocommerce-product-gallery {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}

.summary.entry-summary {
  float: right;
  width: 45%;
}

.product {
  position: relative;

  .onsale {
    z-index: 2;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 5px;
    background: white;
    font-weight: 700;
    color: black;
  }

  .emoji {
    font-size: large;
    z-index: 2;
    position: absolute;
    top: 8px;
    left: 8px;

  }
}

.flex-control-nav {
  margin: 5px 0 0 0;
}


.form-submit {
  .submit {
    padding: 10px 18px;
    background: #5e6821;
    border: none;
    color: white;
    display: inline-block;
  }
}

.single_add_to_cart_button {
  margin: 20px 0;
}

.woocommerce-review-link {
  color: #115817;
}

.product_meta {
  display: flex;
  flex-direction: column;

  a {
    color: #115817;
  }
}

.comment_container {
  border-top: 2px solid #5e6821;
  padding-top: 20px;

  .description {
    padding: 20px;
  }

}

.comment-form-comment {
  display: flex;
  flex-direction: column;
}

.review {
  .avatar {
    border-radius: 50%;
    display: inline;
  }
}

.variations {
  label {
    margin-right: 8px;
  }

  .reset_variations {
    margin-left: 8px;
  }
}

.woocommerce-product-attributes-item {
  display: flex;
  gap: 20px;
}

.out-of-stock {
  color: red;
  font-weight: 600;
}