@charset "UTF-8";
.header-promo {
  background: #5E6821;
  padding: 8px 0;
}
.header-promo a {
  color: white;
  font-weight: 500;
  font-size: 22;
}

.header {
  height: 90px;
  align-items: center;
  margin-bottom: 20px;
}
.header .hamburger {
  display: none;
}
@media screen and (max-width: 900px) {
  .header .hamburger {
    display: block;
    width: 50px;
  }
}
.header .profile-section,
.header .menu-header-menu-container {
  flex-basis: 33.3%;
}
@media screen and (max-width: 900px) {
  .header .profile-section .hamburger,
  .header .menu-header-menu-container .hamburger {
    width: 50px;
  }
  .header .profile-section #menu-header-menu,
  .header .menu-header-menu-container #menu-header-menu {
    display: none;
  }
}

header .container {
  border-bottom: 2px solid #5E6821;
  margin-bottom: 40px;
}

.logo-section img {
  max-width: 150px;
  height: 100%;
}

.vertical-nav li {
  margin-bottom: 20px;
}
.vertical-nav li:last-child {
  margin-bottom: 0;
}
.vertical-nav li a:hover {
  opacity: 50%;
}

.vertical-nav-item li {
  font-size: 38px;
  margin-bottom: 20px;
}
.vertical-nav-item li:last-child {
  margin-bottom: 0;
}
.vertical-nav-item li a:hover {
  opacity: 50%;
}

.nav-img > ::after {
  content: url("../../img/svg/dropdown-icons/ref-icon.svg");
  margin: 15px 0 0 10px;
  width: 15px;
  height: 30px;
}

.top-slider {
  background: url("../../img/banners/top-banner.png");
  flex-basis: 70%;
  background-size: cover;
  min-height: 580px;
  align-items: flex-end;
}
.top-slider .slider-content {
  z-index: 2;
  max-width: 500px;
  padding: 20px;
}

.top-section {
  padding-bottom: 40px;
  border-bottom: 2px solid #5E6821;
  margin-bottom: 100px;
}

.popular-products {
  padding-bottom: 150px;
}
.popular-products .block-heading {
  margin-bottom: 40px;
}
.popular-products .products-carousel {
  margin-bottom: 100px;
}
.popular-products .products-carousel .product-name a {
  color: black;
}

.galery-photos img {
  max-width: 100%;
}
.galery-photos img:hover {
  filter: grayscale(0.75);
}

.instagram-galery {
  padding-bottom: 60px;
  border-bottom: 2px solid #5E6821;
}

.product-size-banners {
  margin-bottom: 100px;
}
.product-size-banners .size-banner {
  position: relative;
}
.product-size-banners .size-banner img {
  max-height: 500px;
  width: 100%;
}
.product-size-banners .size-banner .banner-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.exotic-products {
  margin-bottom: 160px;
}
.exotic-products .block-heading {
  margin-bottom: 40px;
}

.our-articles {
  margin-bottom: 100px;
}
.our-articles .block-title {
  padding-bottom: 40px;
  border-bottom: 2px solid #5E6821;
}

.social-icons {
  padding: auto;
  gap: 10px;
  display: inline-block;
  text-align: center;
  height: 38px;
  width: 38px;
  border: 2px solid #5E6821;
  color: #5E6821;
  border-radius: 100%;
  margin-left: 10px;
}
.social-icons:first-child {
  margin-left: 0px;
}

footer .logo-section {
  margin-bottom: 40px;
}
footer .top-footer {
  padding: 60px 0;
  border-bottom: 2px solid #5E6821;
}
footer .bottom-footer {
  height: 100px;
}
footer .subscribe-block {
  max-width: 100%;
  margin-bottom: 60px;
}
footer .subscribe-block label {
  font-size: 24px;
}
footer .subscribe-block input {
  width: 70%;
}
footer .subscribe-block input::-moz-placeholder {
  padding-left: 10px;
}
footer .subscribe-block input::placeholder {
  padding-left: 10px;
}
footer .social-icons {
  padding: auto;
  display: inline-block;
  text-align: center;
  height: 38px;
  width: 38px;
  border: 2px solid #5E6821;
  color: #5E6821;
  border-radius: 100%;
  margin-left: 10px;
}
footer .social-icons:first-child {
  margin-left: 0px;
}
footer .left-side {
  max-width: 60%;
}
footer .right-side {
  border-left: 2px solid #5E6821;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  footer .right-side {
    border-left: none;
    margin-top: 40px;
    justify-content: space-evenly;
  }
}
footer .right-side .nav-title {
  font-size: 30px;
  margin-bottom: 30px;
}
footer .right-side .nav-items li {
  margin-bottom: 20px;
}

.button {
  padding: 10px 18px;
  background: #5e6821;
  border: none;
  color: white;
  display: inline-block;
}

.continue-button a {
  white-space: nowrap;
  width: 100%;
  display: block;
  border: 2px solid #5e6821;
  color: #5e6821;
  background: #ffffff;
  padding: 15px;
}

.quotes {
  flex-basis: 40%;
  background: #E7E5D9;
  padding: 40px;
}
.quotes .quote-text p {
  font-size: 38px;
}

.promo-video {
  margin-bottom: 100px;
  background: linear-gradient(to bottom, #5e6821 70%, white 70% 60%);
}

.promo-video .block-title {
  color: white;
}
.promo-video .block-title img {
  display: inline;
  vertical-align: middle;
}
.promo-video .block-title h1 {
  width: 70%;
  padding: 40px 0;
}

.video {
  flex-basis: 60%;
  background: #000;
}

.quote-text {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 2px solid #5E6821;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.nav-links a {
  color: #34381d;
  font-weight: 700;
}
.nav-links a:hover {
  color: #5E6821;
}
.nav-links span .page-numbers {
  padding: 0;
}

.marks a {
  display: block;
  padding: 5px 7px;
  background: #5e6821;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
}
.marks a:hover {
  opacity: 50%;
}

#comments {
  width: 100%;
}
#comments input:not([type=checkbox]):not([type=submit]) {
  width: 100%;
  height: 35px;
  margin-bottom: 30px;
  background: #e8e6db;
  border: none;
}
#comments input:not([type=checkbox]):not([type=submit]):focus {
  outline: none;
  padding-left: 15px;
}
#comments textarea {
  width: 100%;
  min-height: 160px;
  margin-bottom: 30px;
  background: #e8e6db;
  border: none;
}
#comments textarea:focus {
  outline: none;
  padding-left: 15px;
  padding-top: 10px;
}
#comments input[type=submit] {
  border: none;
  color: white;
  background: #5e6821;
  padding: 12px 20px;
}

.article-heading {
  margin-bottom: 40px;
}

.single-post-thumbnail {
  margin: 30px auto;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

span {
  padding: 5px 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  font-weight: normal;
}

.swiper {
  height: 100%;
}

.swiper-button-prev, .swiper-button-next {
  --swiper-navigation-sides-offset: 200px;
}

.swiper-banner {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
}

.banner-content {
  position: absolute;
  max-width: 500px;
  padding: 20px;
  bottom: 0;
  left: 0;
}

.woocommerce-MyAccount-navigation li a {
  color: black;
}
.woocommerce-MyAccount-navigation li:hover {
  background: #f8f6f6;
}

.woocommerce-loop-product__title {
  font-size: 18px;
  margin-bottom: 0;
  color: black;
}
.woocommerce-loop-product__title:hover {
  color: gray;
}

.products {
  align-items: baseline;
}

.product {
  margin-bottom: 30px;
}
.product .woocommerce-loop-product__title {
  margin: 0 auto;
}
.product del .woocommerce-Price-amount {
  text-decoration: line-through;
  color: gray;
  font-weight: 500;
  font-size: 14px;
}
.product .woocommerce-loop-product__title,
.product .price {
  display: block;
  text-align: center;
}
.product .attachment-woocommerce_thumbnail {
  margin-bottom: 10px;
}

.product-card {
  position: relative;
}
.product-card .onsale {
  padding: 5px;
  background: white;
  font-weight: 700;
  color: black;
  position: absolute;
  top: 20px;
  left: 0;
}

.woocommerce-ordering {
  margin-bottom: 20px;
}

.page-numbers {
  display: flex;
  gap: 20px;
  color: black;
  justify-content: center;
}

.flex-control-thumbs {
  display: flex;
  justify-content: space-between;
}

.woocommerce-product-gallery {
  width: 50%;
}

.single-product .single-product {
  display: flex;
}

.woocommerce-LoopProduct-link .woocommerce-loop-product__link img {
  width: 700px;
  height: 800px;
}

.select2-selection__rendered,
.customer_details span,
.select2-selection--single {
  padding: 0 0;
}

.customer_details .selection {
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 1024px) {
  .woocommerce-billing-fields {
    width: 100% !important;
  }
}
.woocommerce-billing-fields {
  width: 95%;
}
.woocommerce-billing-fields .input-text,
.woocommerce-billing-fields .select2-selection__rendered,
.woocommerce-billing-fields .select2-selection {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  background: #e8e6db;
  border: none;
}
.woocommerce-billing-fields .input-text:focus,
.woocommerce-billing-fields .select2-selection__rendered:focus,
.woocommerce-billing-fields .select2-selection:focus {
  outline: none;
}
.woocommerce-billing-fields p.form-row-first {
  float: left;
  width: calc(50% - 10px);
  margin-right: 20px;
}
.woocommerce-billing-fields p.form-row-last {
  float: right;
  width: calc(50% - 10px);
}
.woocommerce-billing-fields #billing_company_field {
  clear: both;
}
.woocommerce-billing-fields .billing_last_name_field {
  padding-left: 20px;
  display: inline;
}
.woocommerce-billing-fields .select2-selection__rendered {
  padding-top: 5px;
}
.woocommerce-billing-fields .form-row {
  display: flex;
  flex-direction: column;
}

#order_comments_field {
  display: flex;
  flex-direction: column;
}
#order_comments_field .input {
  width: 100% !important;
  height: 375px !important;
  padding-left: 10px;
  background: #e8e6db;
  border: none;
}
#order_comments_field .input:focus {
  outline: none;
}

#order-detail-section {
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 30px;
  background: #e7e5d9;
}

#customer_details h3,
#order-detail-section h3 {
  display: block;
  border-bottom: 2px solid #5e6821;
}

#customer_details h3 {
  padding-top: 20px;
}

.woocommerce-info {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
.woocommerce-info .showcoupon {
  color: #5e6821;
  font-weight: 600;
}

.shop_table tr {
  display: flex;
  justify-content: space-between;
}
.shop_table tr td {
  padding: 20px;
}
.shop_table thead, .shop_table tbody, .shop_table tfoot, .shop_table tr {
  width: 100%;
}

.woocommerce-order {
  padding: 40px;
  background: #e7e5d9;
}

.woocommerce-thankyou-order-received {
  font-weight: 600;
  font-size: 30px;
}

.woocommerce-bacs-bank-details, .woocommerce-order-details, .woocommerce-customer-details {
  padding: 40px;
  background: #ccc9bb;
  margin: 30px;
}

.shop-page .woocommerce-breadcrumb {
  border-bottom: 2px solid #5e6821;
  padding-bottom: 40px;
  margin-bottom: 30px;
}

.product-card {
  margin-bottom: 30px;
}

.woocommerce-loop-product__title h4 {
  margin-bottom: 0;
}
.woocommerce-loop-product__title h4 a {
  color: black;
}

.added_to_cart.wc-forward {
  margin-left: 20px;
  color: #5e6821;
  font-weight: 600;
}

/* WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Glogal options */
body {
  background-color: #f6f3ed;
}

.hide {
  display: none;
}

.design-bordered {
  border-bottom: 1px solid #e6e6e6;
}

.green-text {
  color: #5E6821;
}

.dropdown p {
  margin-bottom: 0;
}

.btn {
  border-radius: 5px;
  font-size: 14px;
}

.out-shadow {
  box-shadow: 0 0 25px rgb(231, 231, 231);
}

.products .product-title {
  font-weight: 600;
  font-size: 14px;
}
.products .product-img {
  min-width: 100px;
}
.products .product-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.purchase-now {
  color: #1169B6;
}
.purchase-now :active {
  color: #1169B6;
}

@media screen and (max-width: 1200px) {
  .promo-block {
    opacity: 0%;
  }
}

.design-horizontal {
  display: flex;
  align-items: center;
}
.design-horizontal .product-img {
  flex: 0 0 auto;
}
.design-horizontal .product-img img {
  max-width: 120px;
  border-radius: 5px;
}
.design-horizontal .product-content {
  flex: 1 1 auto;
}
.design-horizontal .product-content p {
  margin-bottom: 0;
}

.bg-white {
  background-color: white;
  border-radius: 5px;
}

.darken-image {
  position: relative;
  overflow: hidden;
}

.darken-image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.content-center {
  align-items: center;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-around {
  justify-content: space-evenly;
}

.gap {
  gap: 20px;
}

.gap-5 {
  gap: 5px;
}

.justify-center {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.switch-btn {
  display: flex;
  height: 25px;
  width: 25px;
}

.content {
  background-color: #fafafa;
}

.display-flex {
  display: flex;
}

.col-right {
  justify-content: flex-end;
}

.text-right {
  margin-left: auto;
}

.hot {
  position: relative;
}
.hot::after {
  position: absolute;
  content: "Hot";
  color: white;
  background: #d23336;
  top: 10px;
  left: 20px;
  text-align: center;
  min-width: 65px;
}
@media screen and (max-width: 1024px) {
  .hot::after {
    font-size: 8px;
    min-width: 20px;
  }
}

.bold {
  font-weight: 700;
}

.read-more-btn {
  background: #1169b6;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}
.read-more-btn:hover {
  color: white;
  background: #073d6d;
}

.old-price {
  opacity: 50%;
  font-size: 12px;
  text-decoration: line-through;
}

.price {
  font-size: 15px;
  font-weight: 800;
  color: #5E6821;
}

.view-more {
  font-weight: 600;
  color: black;
}

.big-num {
  font-size: 50px;
  color: #1169b6;
}

.row {
  position: relative;
}
.row [class^=btn-] {
  position: absolute;
  top: 50%;
}
.row .btn-right {
  left: 100%;
}
.row .btn-left {
  right: 100%;
}

.block-title {
  padding-bottom: 20px;
}
.block-title img {
  margin-right: 10px;
}

.menu-header-menu-container ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu-header-menu-container ul .span {
  padding: 0;
}
.menu-header-menu-container ul .active {
  height: 100%;
  border-bottom: 3px solid #5E6821;
  display: inline-block;
}

.posted-by-avatar {
  display: inline;
  border-radius: 50%;
  width: 24px;
  vertical-align: middle;
}

.page-slag {
  color: #5E6821;
  font-weight: 600;
}

.vertical {
  gap: 0;
}
.vertical li {
  margin-right: 0;
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
}
.vertical li a {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 15px 0;
}
.vertical li a span {
  margin-left: 20px;
}
.vertical li a:hover {
  background: #dddddd;
}
.vertical .has-dropdown-horizontal a {
  justify-content: space-between;
}
.vertical .has-dropdown-horizontal a span {
  margin: 0;
}
.vertical .has-dropdown-horizontal a span p {
  margin-left: 20px;
}
.vertical .has-dropdown-horizontal .dropdown-icon {
  margin-right: 20px;
  transform: rotate(270deg);
  filter: invert(100%);
}
.vertical div.product-img {
  min-width: 100px;
  margin-bottom: 0;
  padding: 5px;
}

.output-padding {
  padding: 10px;
}

.input-form {
  align-items: center;
  gap: 5px;
}
.input-form .input-field::-moz-placeholder {
  padding-left: 20px;
}
.input-form .input-field::placeholder {
  padding-left: 20px;
}
.input-form .select-category {
  position: absolute;
  opacity: 50%;
  top: 0;
  right: 0;
  bottom: 0;
}
.input-form .select-category a {
  height: 100%;
  align-items: center;
  padding-right: 20px;
}
@media screen and (max-width: 1200px) {
  .input-form .select-category {
    display: none;
  }
}
.input-form .input-field {
  position: relative;
  width: 100%;
  box-shadow: 0 0 25px rgb(243, 242, 242);
}
.input-form .input-button {
  color: white;
  background: #1169b6;
  border: 1px solid #1169b6;
  border-radius: 5px;
  height: 40px;
  min-width: 40px;
}
.input-form .input-button:hover {
  background: gray;
}

.has-dropdown > ::after {
  filter: invert(100%);
  content: url("../img/svg/dropdown-sign.svg");
  margin-left: 10px;
}

.no-filter ::after {
  filter: invert(0%);
}

.space-between {
  justify-content: space-between;
}

.scheme-light {
  color: white;
}
.scheme-light a {
  color: white;
}
.scheme-light a:hover {
  color: #617cf3;
}

.usa {
  display: inline-block;
}

.scheme-dark {
  color: black;
}
.scheme-dark a {
  color: black;
}
.scheme-dark a:hover {
  color: #617cf3;
}

.style-bordered > :not(:last-child)::after {
  content: "";
  background-color: #2978bd;
  padding-left: 2px;
  margin-right: 10px;
  margin-left: 10px;
}

.text-center {
  text-align: center;
}

.opacity-30 {
  opacity: 30%;
}

.opacity-50 {
  opacity: 50%;
}

.opacity-80 {
  opacity: 80%;
}

p {
  font-size: 15px;
}

.reset-text-margin {
  margin-bottom: 0;
}

.title {
  font-size: 25px;
  margin-bottom: 0;
}

.subtitle {
  font-size: 12px;
  opacity: 70%;
  margin-bottom: 0;
}

.text {
  opacity: 70%;
}

.size-s {
  font-size: 12px;
}

.size-m {
  font-size: 15px;
}

.size-l {
  font-size: 38px;
}

h5 {
  font-size: 20px;
}

h4 {
  font-size: 25px;
}

h3 {
  font-size: 32px;
}

h2 {
  font-size: 40px;
}

h1 {
  font-size: 68px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.row-spacing .row {
  margin-bottom: -20px;
}
.row-spacing [class^=col-] {
  margin-bottom: 20px;
}

[class^=col-] {
  padding-left: 10px;
  padding-right: 10px;
}

.col-auto {
  flex-basis: auto;
  flex-grow: 1;
}

.col-fixed {
  flex: 0 0 auto;
}

.col-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  .col-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media screen and (max-width: 1024px) {
  .col-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media screen and (max-width: 1024px) {
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .col-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media screen and (max-width: 1024px) {
  .col-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media screen and (max-width: 1024px) {
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .col-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media screen and (max-width: 1024px) {
  .col-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media screen and (max-width: 1024px) {
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
}

@media screen and (max-width: 1024px) {
  .col-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media screen and (max-width: 1024px) {
  .col-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media screen and (max-width: 1024px) {
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media screen and (max-width: 767px) {
  .col-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media screen and (max-width: 767px) {
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
}

@media screen and (max-width: 767px) {
  .col-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media screen and (max-width: 767px) {
  .col-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media screen and (max-width: 767px) {
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .col-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media screen and (max-width: 767px) {
  .col-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media screen and (max-width: 767px) {
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .col-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media screen and (max-width: 767px) {
  .col-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media screen and (max-width: 767px) {
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 95%;
  }
}
.article {
  padding: 40px 0;
  border-bottom: 2px solid #5E6821;
}
.article .article-img img {
  max-width: 320px;
  height: 220px;
}
.article .article-content-wrapper {
  width: 100%;
}