
.products {
 .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
  position: relative;
  display: block;
  text-align: center;
  .onsale {
   padding: 5px;
   background: white;
   font-weight: 700;
   color: black;
   position: absolute;
   top: 20px;
   left: 0;
  }

 }
}

.woocommerce-result-count {
 float: right;
}
